body {
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.09);
  border-radius: 50%;
}

.drop ion-icon {
  font-size: 5rem;
  margin-bottom: 10px;
  color: #444;
}

.drop::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color:#fff;
  left: 30px;
  top: 60px;
  border-radius: 50%;
}
.drop::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color:#fff;
  left: 65px;
  top: 30px;
  border-radius: 50%;

}
